@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?705405');
  src: url('../font/fontello.eot?705405#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?705405') format('woff'),
       url('../font/fontello.ttf?705405') format('truetype'),
       url('../font/fontello.svg?705405#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?705405#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-note:before { content: '\e800'; } /* 'Ó Ä' */
.icon-note-beamed:before { content: '\e801'; } /* 'Ó Å' */
.icon-music:before { content: '\e802'; } /* 'Ó Ç' */
.icon-left-open-mini:before { content: '\e803'; } /* 'Ó É' */
.icon-search:before { content: '\e804'; } /* 'Ó Ñ' */
.icon-flashlight:before { content: '\e805'; } /* 'Ó Ö' */
.icon-mail:before { content: '\e806'; } /* 'Ó Ü' */
.icon-heart:before { content: '\e807'; } /* 'Ó á' */
.icon-heart-empty:before { content: '\e808'; } /* 'Ó à' */
.icon-star:before { content: '\e809'; } /* 'Ó â' */
.icon-star-empty:before { content: '\e80a'; } /* 'Ó ä' */
.icon-user:before { content: '\e80b'; } /* 'Ó ã' */
.icon-users:before { content: '\e80c'; } /* 'Ó å' */
.icon-user-add:before { content: '\e80d'; } /* 'Ó ç' */
.icon-video:before { content: '\e80e'; } /* 'Ó é' */
.icon-picture:before { content: '\e80f'; } /* 'Ó è' */
.icon-camera:before { content: '\e810'; } /* 'Ó ê' */
.icon-layout:before { content: '\e811'; } /* 'Ó ë' */
.icon-menu:before { content: '\e812'; } /* 'Ó í' */
.icon-check:before { content: '\e813'; } /* 'Ó ì' */
.icon-cancel:before { content: '\e814'; } /* 'Ó î' */
.icon-cancel-circled:before { content: '\e815'; } /* 'Ó ï' */
.icon-cancel-squared:before { content: '\e816'; } /* 'Ó ñ' */
.icon-plus:before { content: '\e817'; } /* 'Ó ó' */
.icon-plus-circled:before { content: '\e818'; } /* 'Ó ò' */
.icon-plus-squared:before { content: '\e819'; } /* 'Ó ô' */
.icon-minus:before { content: '\e81a'; } /* 'Ó ö' */
.icon-minus-circled:before { content: '\e81b'; } /* 'Ó õ' */
.icon-minus-squared:before { content: '\e81c'; } /* 'Ó ú' */
.icon-help:before { content: '\e81d'; } /* 'Ó ù' */
.icon-help-circled:before { content: '\e81e'; } /* 'Ó û' */
.icon-info:before { content: '\e81f'; } /* 'Ó ü' */
.icon-info-circled:before { content: '\e820'; } /* 'Ó  ' */
.icon-back:before { content: '\e821'; } /* 'Ó °' */
.icon-home:before { content: '\e822'; } /* 'Ó ¢' */
.icon-link:before { content: '\e823'; } /* 'Ó £' */
.icon-attach:before { content: '\e824'; } /* 'Ó §' */
.icon-lock:before { content: '\e825'; } /* 'Ó •' */
.icon-lock-open:before { content: '\e826'; } /* 'Ó ¶' */
.icon-eye:before { content: '\e827'; } /* 'Ó ß' */
.icon-tag:before { content: '\e828'; } /* 'Ó ®' */
.icon-bookmark:before { content: '\e829'; } /* 'Ó ©' */
.icon-bookmarks:before { content: '\e82a'; } /* 'Ó ™' */
.icon-flag:before { content: '\e82b'; } /* 'Ó ´' */
.icon-thumbs-up:before { content: '\e82c'; } /* 'Ó ¨' */
.icon-thumbs-down:before { content: '\e82d'; } /* 'Ó ≠' */
.icon-download:before { content: '\e82e'; } /* 'Ó Æ' */
.icon-upload:before { content: '\e82f'; } /* 'Ó Ø' */
.icon-upload-cloud:before { content: '\e830'; } /* 'Ó ∞' */
.icon-reply:before { content: '\e831'; } /* 'Ó ±' */
.icon-reply-all:before { content: '\e832'; } /* 'Ó ≤' */
.icon-forward:before { content: '\e833'; } /* 'Ó ≥' */
.icon-quote:before { content: '\e834'; } /* 'Ó ¥' */
.icon-code:before { content: '\e835'; } /* 'Ó µ' */
.icon-export:before { content: '\e836'; } /* 'Ó ∂' */
.icon-pencil:before { content: '\e837'; } /* 'Ó ∑' */
.icon-feather:before { content: '\e838'; } /* 'Ó ∏' */
.icon-print:before { content: '\e839'; } /* 'Ó π' */
.icon-retweet:before { content: '\e83a'; } /* 'Ó ∫' */
.icon-keyboard:before { content: '\e83b'; } /* 'Ó ª' */
.icon-comment:before { content: '\e83c'; } /* 'Ó º' */
.icon-chat:before { content: '\e83d'; } /* 'Ó Ω' */
.icon-bell:before { content: '\e83e'; } /* 'Ó æ' */
.icon-attention:before { content: '\e83f'; } /* 'Ó ø' */
.icon-alert:before { content: '\e840'; } /* 'Ó°Ä' */
.icon-vcard:before { content: '\e841'; } /* 'Ó°Å' */
.icon-address:before { content: '\e842'; } /* 'Ó°Ç' */
.icon-location:before { content: '\e843'; } /* 'Ó°É' */
.icon-map:before { content: '\e844'; } /* 'Ó°Ñ' */
.icon-direction:before { content: '\e845'; } /* 'Ó°Ö' */
.icon-compass:before { content: '\e846'; } /* 'Ó°Ü' */
.icon-cup:before { content: '\e847'; } /* 'Ó°á' */
.icon-trash:before { content: '\e848'; } /* 'Ó°à' */
.icon-doc:before { content: '\e849'; } /* 'Ó°â' */
.icon-docs:before { content: '\e84a'; } /* 'Ó°ä' */
.icon-doc-landscape:before { content: '\e84b'; } /* 'Ó°ã' */
.icon-doc-text:before { content: '\e84c'; } /* 'Ó°å' */
.icon-doc-text-inv:before { content: '\e84d'; } /* 'Ó°ç' */
.icon-newspaper:before { content: '\e84e'; } /* 'Ó°é' */
.icon-book-open:before { content: '\e84f'; } /* 'Ó°è' */
.icon-book:before { content: '\e850'; } /* 'Ó°ê' */
.icon-folder:before { content: '\e851'; } /* 'Ó°ë' */
.icon-archive:before { content: '\e852'; } /* 'Ó°í' */
.icon-box:before { content: '\e853'; } /* 'Ó°ì' */
.icon-rss:before { content: '\e854'; } /* 'Ó°î' */
.icon-phone:before { content: '\e855'; } /* 'Ó°ï' */
.icon-cog:before { content: '\e856'; } /* 'Ó°ñ' */
.icon-tools:before { content: '\e857'; } /* 'Ó°ó' */
.icon-share:before { content: '\e858'; } /* 'Ó°ò' */
.icon-shareable:before { content: '\e859'; } /* 'Ó°ô' */
.icon-basket:before { content: '\e85a'; } /* 'Ó°ö' */
.icon-bag:before { content: '\e85b'; } /* 'Ó°õ' */
.icon-calendar:before { content: '\e85c'; } /* 'Ó°ú' */
.icon-login:before { content: '\e85d'; } /* 'Ó°ù' */
.icon-logout:before { content: '\e85e'; } /* 'Ó°û' */
.icon-mic:before { content: '\e85f'; } /* 'Ó°ü' */
.icon-mute:before { content: '\e860'; } /* 'Ó° ' */
.icon-sound:before { content: '\e861'; } /* 'Ó°°' */
.icon-volume:before { content: '\e862'; } /* 'Ó°¢' */
.icon-clock:before { content: '\e863'; } /* 'Ó°£' */
.icon-hourglass:before { content: '\e864'; } /* 'Ó°§' */
.icon-lamp:before { content: '\e865'; } /* 'Ó°•' */
.icon-light-down:before { content: '\e866'; } /* 'Ó°¶' */
.icon-light-up:before { content: '\e867'; } /* 'Ó°ß' */
.icon-adjust:before { content: '\e868'; } /* 'Ó°®' */
.icon-block:before { content: '\e869'; } /* 'Ó°©' */
.icon-resize-full:before { content: '\e86a'; } /* 'Ó°™' */
.icon-resize-small:before { content: '\e86b'; } /* 'Ó°´' */
.icon-popup:before { content: '\e86c'; } /* 'Ó°¨' */
.icon-publish:before { content: '\e86d'; } /* 'Ó°≠' */
.icon-window:before { content: '\e86e'; } /* 'Ó°Æ' */
.icon-arrow-combo:before { content: '\e86f'; } /* 'Ó°Ø' */
.icon-down-circled:before { content: '\e870'; } /* 'Ó°∞' */
.icon-left-circled:before { content: '\e871'; } /* 'Ó°±' */
.icon-right-circled:before { content: '\e872'; } /* 'Ó°≤' */
.icon-up-circled:before { content: '\e873'; } /* 'Ó°≥' */
.icon-down-open:before { content: '\e874'; } /* 'Ó°¥' */
.icon-left-open:before { content: '\e875'; } /* 'Ó°µ' */
.icon-right-open:before { content: '\e876'; } /* 'Ó°∂' */
.icon-up-open:before { content: '\e877'; } /* 'Ó°∑' */
.icon-down-open-mini:before { content: '\e878'; } /* 'Ó°∏' */
.icon-right-open-mini:before { content: '\e879'; } /* 'Ó°π' */
.icon-up-open-mini:before { content: '\e87a'; } /* 'Ó°∫' */
.icon-down-open-big:before { content: '\e87b'; } /* 'Ó°ª' */
.icon-left-open-big:before { content: '\e87c'; } /* 'Ó°º' */
.icon-right-open-big:before { content: '\e87d'; } /* 'Ó°Ω' */
.icon-up-open-big:before { content: '\e87e'; } /* 'Ó°æ' */
.icon-down:before { content: '\e87f'; } /* 'Ó°ø' */
.icon-left:before { content: '\e880'; } /* 'Ó¢Ä' */
.icon-right:before { content: '\e881'; } /* 'Ó¢Å' */
.icon-up:before { content: '\e882'; } /* 'Ó¢Ç' */
.icon-down-dir:before { content: '\e883'; } /* 'Ó¢É' */
.icon-left-dir:before { content: '\e884'; } /* 'Ó¢Ñ' */
.icon-right-dir:before { content: '\e885'; } /* 'Ó¢Ö' */
.icon-up-dir:before { content: '\e886'; } /* 'Ó¢Ü' */
.icon-down-bold:before { content: '\e887'; } /* 'Ó¢á' */
.icon-left-bold:before { content: '\e888'; } /* 'Ó¢à' */
.icon-right-bold:before { content: '\e889'; } /* 'Ó¢â' */
.icon-up-bold:before { content: '\e88a'; } /* 'Ó¢ä' */
.icon-down-thin:before { content: '\e88b'; } /* 'Ó¢ã' */
.icon-left-thin:before { content: '\e88c'; } /* 'Ó¢å' */
.icon-right-thin:before { content: '\e88d'; } /* 'Ó¢ç' */
.icon-up-thin:before { content: '\e88e'; } /* 'Ó¢é' */
.icon-ccw:before { content: '\e88f'; } /* 'Ó¢è' */
.icon-cw:before { content: '\e890'; } /* 'Ó¢ê' */
.icon-arrows-ccw:before { content: '\e891'; } /* 'Ó¢ë' */
.icon-level-down:before { content: '\e892'; } /* 'Ó¢í' */
.icon-level-up:before { content: '\e893'; } /* 'Ó¢ì' */
.icon-shuffle:before { content: '\e894'; } /* 'Ó¢î' */
.icon-loop:before { content: '\e895'; } /* 'Ó¢ï' */
.icon-switch:before { content: '\e896'; } /* 'Ó¢ñ' */
.icon-play:before { content: '\e897'; } /* 'Ó¢ó' */
.icon-stop:before { content: '\e898'; } /* 'Ó¢ò' */
.icon-pause:before { content: '\e899'; } /* 'Ó¢ô' */
.icon-record:before { content: '\e89a'; } /* 'Ó¢ö' */
.icon-to-end:before { content: '\e89b'; } /* 'Ó¢õ' */
.icon-to-start:before { content: '\e89c'; } /* 'Ó¢ú' */
.icon-fast-forward:before { content: '\e89d'; } /* 'Ó¢ù' */
.icon-fast-backward:before { content: '\e89e'; } /* 'Ó¢û' */
.icon-progress-0:before { content: '\e89f'; } /* 'Ó¢ü' */
.icon-progress-1:before { content: '\e8a0'; } /* 'Ó¢ ' */
.icon-progress-2:before { content: '\e8a1'; } /* 'Ó¢°' */
.icon-progress-3:before { content: '\e8a2'; } /* 'Ó¢¢' */
.icon-target:before { content: '\e8a3'; } /* 'Ó¢£' */
.icon-palette:before { content: '\e8a4'; } /* 'Ó¢§' */
.icon-list:before { content: '\e8a5'; } /* 'Ó¢•' */
.icon-list-add:before { content: '\e8a6'; } /* 'Ó¢¶' */
.icon-signal:before { content: '\e8a7'; } /* 'Ó¢ß' */
.icon-trophy:before { content: '\e8a8'; } /* 'Ó¢®' */
.icon-battery:before { content: '\e8a9'; } /* 'Ó¢©' */
.icon-back-in-time:before { content: '\e8aa'; } /* 'Ó¢™' */
.icon-monitor:before { content: '\e8ab'; } /* 'Ó¢´' */
.icon-mobile:before { content: '\e8ac'; } /* 'Ó¢¨' */
.icon-network:before { content: '\e8ad'; } /* 'Ó¢≠' */
.icon-cd:before { content: '\e8ae'; } /* 'Ó¢Æ' */
.icon-inbox:before { content: '\e8af'; } /* 'Ó¢Ø' */
.icon-install:before { content: '\e8b0'; } /* 'Ó¢∞' */
.icon-globe:before { content: '\e8b1'; } /* 'Ó¢±' */
.icon-cloud:before { content: '\e8b2'; } /* 'Ó¢≤' */
.icon-cloud-thunder:before { content: '\e8b3'; } /* 'Ó¢≥' */
.icon-flash:before { content: '\e8b4'; } /* 'Ó¢¥' */
.icon-moon:before { content: '\e8b5'; } /* 'Ó¢µ' */
.icon-flight:before { content: '\e8b6'; } /* 'Ó¢∂' */
.icon-paper-plane:before { content: '\e8b7'; } /* 'Ó¢∑' */
.icon-leaf:before { content: '\e8b8'; } /* 'Ó¢∏' */
.icon-lifebuoy:before { content: '\e8b9'; } /* 'Ó¢π' */
.icon-mouse:before { content: '\e8ba'; } /* 'Ó¢∫' */
.icon-briefcase:before { content: '\e8bb'; } /* 'Ó¢ª' */
.icon-suitcase:before { content: '\e8bc'; } /* 'Ó¢º' */
.icon-dot:before { content: '\e8bd'; } /* 'Ó¢Ω' */
.icon-dot-2:before { content: '\e8be'; } /* 'Ó¢æ' */
.icon-dot-3:before { content: '\e8bf'; } /* 'Ó¢ø' */
.icon-brush:before { content: '\e8c0'; } /* 'Ó£Ä' */
.icon-magnet:before { content: '\e8c1'; } /* 'Ó£Å' */
.icon-infinity:before { content: '\e8c2'; } /* 'Ó£Ç' */
.icon-erase:before { content: '\e8c3'; } /* 'Ó£É' */
.icon-chart-pie:before { content: '\e8c4'; } /* 'Ó£Ñ' */
.icon-chart-line:before { content: '\e8c5'; } /* 'Ó£Ö' */
.icon-chart-bar:before { content: '\e8c6'; } /* 'Ó£Ü' */
.icon-chart-area:before { content: '\e8c7'; } /* 'Ó£á' */
.icon-tape:before { content: '\e8c8'; } /* 'Ó£à' */
.icon-graduation-cap:before { content: '\e8c9'; } /* 'Ó£â' */
.icon-language:before { content: '\e8ca'; } /* 'Ó£ä' */
.icon-ticket:before { content: '\e8cb'; } /* 'Ó£ã' */
.icon-water:before { content: '\e8cc'; } /* 'Ó£å' */
.icon-droplet:before { content: '\e8cd'; } /* 'Ó£ç' */
.icon-air:before { content: '\e8ce'; } /* 'Ó£é' */
.icon-credit-card:before { content: '\e8cf'; } /* 'Ó£è' */
.icon-floppy:before { content: '\e8d0'; } /* 'Ó£ê' */
.icon-clipboard:before { content: '\e8d1'; } /* 'Ó£ë' */
.icon-megaphone:before { content: '\e8d2'; } /* 'Ó£í' */
.icon-database:before { content: '\e8d3'; } /* 'Ó£ì' */
.icon-drive:before { content: '\e8d4'; } /* 'Ó£î' */
.icon-bucket:before { content: '\e8d5'; } /* 'Ó£ï' */
.icon-thermometer:before { content: '\e8d6'; } /* 'Ó£ñ' */
.icon-key:before { content: '\e8d7'; } /* 'Ó£ó' */
.icon-flow-cascade:before { content: '\e8d8'; } /* 'Ó£ò' */
.icon-flow-branch:before { content: '\e8d9'; } /* 'Ó£ô' */
.icon-flow-tree:before { content: '\e8da'; } /* 'Ó£ö' */
.icon-flow-line:before { content: '\e8db'; } /* 'Ó£õ' */
.icon-flow-parallel:before { content: '\e8dc'; } /* 'Ó£ú' */
.icon-rocket:before { content: '\e8dd'; } /* 'Ó£ù' */
.icon-gauge:before { content: '\e8de'; } /* 'Ó£û' */
.icon-traffic-cone:before { content: '\e8df'; } /* 'Ó£ü' */
.icon-cc:before { content: '\e8e0'; } /* 'Ó£ ' */
.icon-cc-by:before { content: '\e8e1'; } /* 'Ó£°' */
.icon-cc-nc:before { content: '\e8e2'; } /* 'Ó£¢' */
.icon-cc-nc-eu:before { content: '\e8e3'; } /* 'Ó££' */
.icon-cc-nc-jp:before { content: '\e8e4'; } /* 'Ó£§' */
.icon-cc-sa:before { content: '\e8e5'; } /* 'Ó£•' */
.icon-cc-nd:before { content: '\e8e6'; } /* 'Ó£¶' */
.icon-cc-pd:before { content: '\e8e7'; } /* 'Ó£ß' */
.icon-cc-zero:before { content: '\e8e8'; } /* 'Ó£®' */
.icon-cc-share:before { content: '\e8e9'; } /* 'Ó£©' */
.icon-cc-remix:before { content: '\e8ea'; } /* 'Ó£™' */
.icon-github:before { content: '\e8eb'; } /* 'Ó£´' */
.icon-github-circled:before { content: '\e8ec'; } /* 'Ó£¨' */
.icon-flickr:before { content: '\e8ed'; } /* 'Ó£≠' */
.icon-flickr-circled:before { content: '\e8ee'; } /* 'Ó£Æ' */
.icon-vimeo:before { content: '\e8ef'; } /* 'Ó£Ø' */
.icon-vimeo-circled:before { content: '\e8f0'; } /* 'Ó£∞' */
.icon-twitter:before { content: '\e8f1'; } /* 'Ó£±' */
.icon-twitter-circled:before { content: '\e8f2'; } /* 'Ó£≤' */
.icon-facebook:before { content: '\e8f3'; } /* 'Ó£≥' */
.icon-facebook-circled:before { content: '\e8f4'; } /* 'Ó£¥' */
.icon-facebook-squared:before { content: '\e8f5'; } /* 'Ó£µ' */
.icon-gplus:before { content: '\e8f6'; } /* 'Ó£∂' */
.icon-gplus-circled:before { content: '\e8f7'; } /* 'Ó£∑' */
.icon-pinterest:before { content: '\e8f8'; } /* 'Ó£∏' */
.icon-pinterest-circled:before { content: '\e8f9'; } /* 'Ó£π' */
.icon-tumblr:before { content: '\e8fa'; } /* 'Ó£∫' */
.icon-tumblr-circled:before { content: '\e8fb'; } /* 'Ó£ª' */
.icon-linkedin:before { content: '\e8fc'; } /* 'Ó£º' */
.icon-linkedin-circled:before { content: '\e8fd'; } /* 'Ó£Ω' */
.icon-dribbble:before { content: '\e8fe'; } /* 'Ó£æ' */
.icon-dribbble-circled:before { content: '\e8ff'; } /* 'Ó£ø' */
.icon-stumbleupon:before { content: '\e900'; } /* 'Ó§Ä' */
.icon-stumbleupon-circled:before { content: '\e901'; } /* 'Ó§Å' */
.icon-lastfm:before { content: '\e902'; } /* 'Ó§Ç' */
.icon-lastfm-circled:before { content: '\e903'; } /* 'Ó§É' */
.icon-rdio:before { content: '\e904'; } /* 'Ó§Ñ' */
.icon-rdio-circled:before { content: '\e905'; } /* 'Ó§Ö' */
.icon-spotify:before { content: '\e906'; } /* 'Ó§Ü' */
.icon-spotify-circled:before { content: '\e907'; } /* 'Ó§á' */
.icon-qq:before { content: '\e908'; } /* 'Ó§à' */
.icon-instagram:before { content: '\e909'; } /* 'Ó§â' */
.icon-dropbox:before { content: '\e90a'; } /* 'Ó§ä' */
.icon-evernote:before { content: '\e90b'; } /* 'Ó§ã' */
.icon-flattr:before { content: '\e90c'; } /* 'Ó§å' */
.icon-skype:before { content: '\e90d'; } /* 'Ó§ç' */
.icon-skype-circled:before { content: '\e90e'; } /* 'Ó§é' */
.icon-renren:before { content: '\e90f'; } /* 'Ó§è' */
.icon-sina-weibo:before { content: '\e910'; } /* 'Ó§ê' */
.icon-paypal:before { content: '\e911'; } /* 'Ó§ë' */
.icon-picasa:before { content: '\e912'; } /* 'Ó§í' */
.icon-soundcloud:before { content: '\e913'; } /* 'Ó§ì' */
.icon-mixi:before { content: '\e914'; } /* 'Ó§î' */
.icon-behance:before { content: '\e915'; } /* 'Ó§ï' */
.icon-google-circles:before { content: '\e916'; } /* 'Ó§ñ' */
.icon-vkontakte:before { content: '\e917'; } /* 'Ó§ó' */
.icon-smashing:before { content: '\e918'; } /* 'Ó§ò' */
.icon-sweden:before { content: '\e919'; } /* 'Ó§ô' */
.icon-db-shape:before { content: '\e91a'; } /* 'Ó§ö' */
.icon-logo-db:before { content: '\e91b'; } /* 'Ó§õ' */